extends layout

block content
  
  h3
    a(href='../' + referrer) &#8636; I change my mind! Back to Game Page
    
  h1 #{title}: #{game.title} 
  
  if (reviewsOfGame.length > 0)
    
    h2.warning #{game.title} has some reviews. 
    p.delete-instruction You have to delete the following reviews first before you can delete this game:
    
    for review in reviewsOfGame
      p
        a(href=review.url) &#8226; by #{review.sourcePage}
      
  else
    
    p Do you really want to delete this Game?
    
    form(method='POST' action='')
      label(for='auth') * Are you authorized? Prove it with the password:
      input(type='password' name='auth' id='auth')
      br
      input#idToDelete(type='hidden' name='idToDelete' required='true' value=game._id)
      button.btn.btn-delete(type='submit') 
        span Yes, DELETE

  if authError
    br
    ul
      div.errors
        li.error-msg 	&#10060; You have to put in the correct authorization password