extends layout

block content
  
  if (referrer === 'genres')
    h3
      a(href='../genres') &#8636; Back to List of Genres
  else if (referrer === 'update')
    
  else
    h3
      a(href='../game/' + referrer) &#8636; Back to Game Page
  
  h1 #{title} #{genre.label}
  
  if (games.length > 0)
    h2 Games:
    for game in games
      a(href=game.url) #{game.title}
  else
    h2 No games assigned

  div.btn-wrapper
    div(class="btn btn-update")
      a(href=genre.url + '/update')
        span RENAME
    div(class="btn btn-delete")
      a(href=genre.url + '/delete')
        span DELETE
