extends layout

block content 
  
  h1 #{title}
  
  div
    form(method='POST' action='')
      label(for='game') * Game:
      select#game(type='select', placeholder='Select Producer', name='game' required='true')
        for game in games
          if review
            option(value=game._id selected=(game._id.toString() === game.game ? 'selected' : false)) #{game.title}
          else
            option(value=game._id) #{game.title}  
      br
      label(for='sourcePage') * Name of Source Page:
      input#sourcePage(type='text', placeholder='GameSpot' name='sourcePage' value=(review === undefined ? '' : review.sourcePage))
      br
      label(for='content') Snippet of the Review:
      textarea#content(placeholder='Fill in a short bit from the review' name='content')
        if (review === undefined)
          |
        else
          |#{unescapedSnippet}
      br
      label(for='rating') * Game Rating:
      input#rating(type='text' placeholder='8/10' name='rating' value=(review === undefined ? '' : unescapedRating))
      br
      label(for='link') * Link:
      input#link( type='text' placeholder='https://time.com/4683122/zelda-breath-of-the-wild-review/' name='link' value=(review === undefined ? '' : unescapedLink))
      br
      label(for='auth') * Are you authorized? Prove it with the password:
      input(type='password' name='auth' id='auth')
      br
      p.required * - required
        
      if review
        button.btn.btn-create(type='submit')
          span SUBMIT
      else
        button.btn.btn-create(type='submit')
          span CREATE
  
  if errors
    br
    ul
    div.errors
      for error in errors
        li.error-msg 	&#10060; #{error.msg}
