extends layout

block content
  
  if (referrer === 'reviews')
    h3
      a(href='../reviews') &#8636; Back to List of Reviews
  else if (referrer !== 'create')
    h3
      a(href='../game/' + referrer) &#8636; Back to Game Page
  
  h1 #{title}:
    a(href=review.game.url) #{review.game.title}
  p by #{review.sourcePage}

  h2 Rating: #{unescapedRating}
  
  h2 Snippet:
  p.summary #{unescapedSnippet}
  
  if (review.link)
    h2
      a(href=unescapedLink target="_blank") See the whole review (in a new tab) &#8640;	

  div.btn-wrapper
    div(class="btn btn-update")
      a(href=review.url + '/update')
        span UPDATE
    div(class="btn btn-delete")
      a(href=review.url + '/delete')
        span DELETE
